* {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    width: 1200px;
    background-image: url(./img/toyStoryAndysRoomWallpaper.jpeg);
}

.logo {
    position: absolute;
    width: 300px;
    height: 219px;
    animation: logoEntrance 3s 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.logoNumber {
    position: absolute;
    width: 200px;
    animation: logoNumberEntrance 3s 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.logoNumber img {
    width: 350px;
}

.BuzzFlyer {
    position: absolute;
    width: 300px;
    height: 300px;
    animation: buzzEntrance 3s 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.alienJump {
    position: relative;
    width: 100px;
    height: 100px;
    opacity: 0;
    animation: alienEntrance 6s linear 3s 1 forwards;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.alienJump2 {
    position: relative;
    width: 100px;
    height: 100px;
    opacity: 0;
    animation:alienEntrance 6s linear 3.5s 1 forwards;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.text {
    opacity: 0;
    animation: textAnimation 3s linear 5s 1 forwards;
}

@keyframes textAnimation {
    0% {
        transform: translate(-300px, -300px);
        opacity: 1;
    }

    100% {
        transform: translate(300px, 300px);
        opacity: 1;
    }
}

@keyframes alienJump {
    0% {
        transform: translate(450px, 2400px)
    }
    100% {
        transform: translate(450px, 2000px)
    }
}

@keyframes alienEntrance {
    0% {
        transform: translate(6000px, 2400px);
        scale: 0.3;
        opacity: 0;
    }
    1% {
        transform: translate(6000px, 2400px);
        scale: 0.3;
        opacity: 1;
    }
    6% {
        transform: translate(5000px, 2400px);
        scale: 0.3;
        opacity: 1;
    }
    12% {
        transform: translate(5000px, 2000px);
        scale: 0.3;
        opacity: 1;
    }
    18% {
        transform: translate(5000px, 2400px);
        scale: 0.3;
        opacity: 1;
    }
    24% {
        transform: translate(5000px, 2400px);
        scale: 0.3;
        opacity: 1;
    }
    30% {
        transform: translate(4000px, 2400px);
        scale: 0.3;
        opacity: 1;
    }
    36% {
        transform: translate(4000px, 2000px);
        scale: 0.3;
        opacity: 1;
    }
    42% {
        transform: translate(4000px, 2400px);
        scale: 0.3;
        opacity: 1;
    }
    48% {
        transform: translate(3000px, 2400px);
        scale: 0.3;
        opacity: 1;
    }
    54% {
        transform: translate(3000px, 2000px);
        scale: 0.3;
        opacity: 1;
    }
    60% {
        transform: translate(3000px, 2400px);
        scale: 0.3;
        opacity: 1;
    }
    66% {
        transform: translate(2000px, 2400px);
        scale: 0.3;
        opacity: 1;
    }
    72% {
        transform: translate(2000px, 2000px);
        scale: 0.3;
        opacity: 1;
    }
    78% {
        transform: translate(2000px, 2400px);
        scale: 0.3;
        opacity: 1;
    }
    84% {
        transform: translate(1000px, 2400px);
        scale: 0.3;
        opacity: 1;
    }
    90% {
        transform: translate(1000px, 2000px);
        scale: 0.3;
        opacity: 1;
    }
    96% {
        transform: translate(1000px, 2400px);
        scale: 0.3;
        opacity: 1;
    }
    100% {
        transform: translate(450px, 2400px);
        scale: 0.3;
        opacity: 1;
    }
}

@keyframes logoNumberEntrance {
    0% {
        transform: translate(2000px, 0px);

    }
    100% {
        transform: translate(420px, 300px);

    }
}

@keyframes logoEntrance {
    0% {
        transform: translate(2000px, 0px);
    }
    100% {
        transform: translate(450px, 200px);
    }
}

@keyframes buzzEntrance {
    0% {
        transform: translate(-1000px, 0px);
        scale: 0.3;
    }
    70% {
        transform: translate(700px, 1000px);
        scale: 0.5;
    }
    100% {
        transform: translate(1000px, 200px);
        scale: 0.7;
    }
}

@keyframes buzzRotation {
    0% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}